<div class="itemDetail demographicDetail">
	<div class="itemControl dijitHidden" data-dojo-attach-point="itemControlNode">
		<span class="mandatory dijitHidden" data-dojo-attach-point="mandatoryNode">This item is mandatory and cannot be modified.</span>
		<a class="deleteItem" href="#" data-dojo-attach-point="deleteAnchor">delete</a>
		<a class="updateItem" href="#" data-dojo-attach-point="updateAnchor">edit</a>
	</div>
	<h2 data-dojo-attach-point="labelNode"></h2>
	<h3>Data Type: <span data-dojo-attach-point="dataTypeNode"></span></h3>
	<h3 data-dojo-attach-point="optionsNode">Available Options</h3>
	<p class="optionsList" data-dojo-attach-point="optionsList"></p>
	<ul class="booleanOptions">
		<li data-dojo-attach-point="allowNullNode">Allowed to be Blank</li>
		<li data-dojo-attach-point="inSurveyNode">Visible in Surveys</li>
		<li data-dojo-attach-point="needsVerifyNode">Verify with Participants</li>
	</ul>
</div>
